@font-face {
  font-family: 'Pretendard-Regular';
  src: url(./Pretendard-Regular.woff) format('woff');
}

@font-face {
  font-family: 'MICEGothic-Regular';
  src: url(./MICEGothic.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MonoplexKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'YUniverse-L';
  src: url(./YUniverse-L.otf) format('opentype');
  font-weight: 300;
  font-style: normal;
}